@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


@theme{
  --color-primary: #3639A4;
  --color-secondary: #43E7DF;
  --color-text: #2C2643;
  --color-description: #645E76;
  --color-orng: #FF7364;
  --font-primary: 'Chivo', sans-serif;
  --font-secondary: 'DM Sans', sans-serif;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 30px !important;
  line-height: 1;
  opacity: .75;
  width: 20px !important;
  color: var(--color-primary) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev{
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 55% !important;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(-60%, -60%) !important;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-next{
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 55% !important;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(10%, -60%) !important;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}